.details-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    text-align: center;
    margin-top: 10px;
}
.details-container img{
    width: 100%;
}
@media only screen and (max-width:688px) {
    .details-container{
        grid-template-columns: repeat(1, 1fr);
       
    }
    .details-container img{
        width: 80%;
    }
    
}